<footer class="footer" style="margin-top: 20px;">
    <div class="columns">
      <div class="column">
        <h2 class="is-uppercase has-text-weight-bold">
          Dla mieszkańców
        </h2>
        <ul>
          <li>
            <a href="#">Konsultacje społeczne</a></li>
          <li>
            <a href="#">eUrząd</a></li>
          <li>
            <a href="#">Zarządzenia i uchwały</a></li>
        </ul>
      </div>
      <div class="column">
        <h2 class="is-uppercase has-text-weight-bold">
          Polityka prywatności
        </h2>
        <ul>
          <li>
            <a href="#">Regulamin</a></li>
          <li>
            <a href="#">Polityka prywatności</a></li>
        </ul>
      </div>
      <div class="column">
        <h2 class="is-uppercase has-text-weight-bold">
          Kontakt
        </h2>
        <ul>
          <li>
            Całodobowy telefon Urzędu m.st. Warszawy: <i>12345</i>
          </li>
          <li>
            Tel. Interwencyjny: <i>678 90</i>
          </li>
          <li>
            Adres e-mail: <a href="mailto:biuro@projgwarsaw.pl">
              biuro@projgwarsaw.pl
            </a>
          </li>
        </ul>
      </div>
    </div>
</footer>
