<div class="columns">
  <div class="column is-mobile">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">aktywnych konkursów</p>
          <p class="title">000</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">zakończonych konkursów</p>
          <p class="title">000</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">opublikowanych projektów</p>
          <p class="title">000</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">oddanych głosów</p>
          <p class="title">000</p>
        </div>
      </div>
    </nav>
  </div>
</div>
