{% extends '_Main/template.html' %}
{% load staticfiles %}
{% block title %}Projekty Gminne - Strona główna{% endblock %}
{% block scripts %}
  <script src="{% static 'js/projekt_ctrl.js' %}" charset="utf-8"></script>
{% endblock %}
{% block content %}
  <div class="columns" ng-controller="ProjektViewCtrl as Ctrl">
    <div class="column is-mobile">
      <article ng-class="data.message_class" ng-show="data.message_visible" ng-cloak>
          <div class="message-header">
            <p>{a data.message_text a}</p>
            <button class="delete" aria-label="delete" ng-click="data.message_visible = false"></button>
          </div>
        </article>

      <h3 class="subtitle has-text-centered"><b>{{object.name}}</b></h3>
      <hr>
      <h3 class="subtitle has-text-centered">
        <a href="{% url 'konkurs-detail' pk=object.konkurs_id.id %}">
          <b><i class="fas fa-link"></i>&nbsp;Strona konkursu</b>
        </a>
      </h3>

      <div class="tags has-addons">
        <span class="tag">Konkurs aktywny</span>
        {% if active %}
          <span class="tag is-success">Tak</span>
        {% else %}
          <span class="tag is-black">Nie</span>
        {% endif %}
      </div>

      <div class="tags has-addons">
        <span class="tag">Dzielnica</span>
        <span class="tag is-white">{{object.konkurs_id.dzielnica_id}}</span>
      </div>

      <nav class="level">
        <div class="level-left">
          <span ng-show="data.vote_num_visible" ng-cloak>
            <b>Głosów</b>:&nbsp;{a data.after_vote_add + {{vote_count}} a}
          </span>
        </div>
        <div class="level-right" ng-cloak>
          {% if active %}
            <a ng-show="data.vote_button_visible" ng-class="data.vote_class" ng-disabled="data.vote_temp_disabled" ng-click="funcs.vote_init()">
              <i ng-class="data.vote_icon"></i>&nbsp;{a data.button_text a}
            </a>
            <form name="form" autocomplete="off">
            <div ng-show="data.vote_input_visible" class="field has-addons">
              <div class="control">
                <input ng-model="data.pesel" class="input" type="text" name="pesel" placeholder="Numer PESEL" ng-pattern="data.regexp" required>
              </div>
              <div class="control">
                <a ng-click="funcs.confirm({{object.id}}, '{{csrf_token}}')" ng-show="form.pesel.$valid" class="button is-success">
                  Zatwierdź
                </a>
                <a ng-hide="form.pesel.$valid" class="button">
                  Zatwierdź
                </a>
              </div>
            </div>
          </form>
          <span ng-show="data.vote_loading_visible">
            <i class="fas fa-sync fa-spin"></i>
          </span>
          {% else %}
            <button class="button disabled" disabled><i class="fas fa-vote-yea"></i>&nbsp;Projekt nieaktywny</button>
          {% endif %}
        </div>
      </nav>
      <p>
        <p>{{object.description}}</p>
      </p>
      <hr>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <tbody>
          <tr>
            <td>Instytucja wdrażająca</td>
            <td>{{object.instytucja_wdrazajaca}}</td>
          </tr>
          <tr>
            <td>Wnioskodawca</td>
            <td>{{object.wnioskodawca}}</td>
          </tr>
          <tr>
            <td>Okreas realizacji</td>
            <td>od {{object.okres_realizacji_od|date:"d/m/Y"}} do {{object.okres_realizacji_do|date:"d/m/Y"}}</td>
          </tr>
          <tr>
            <td>Wartość projektu</td>
            <td>{{object.wartosc_projektu}} {{object.waluta}}</td>
          </tr>
          <tr>
            <td>Kwota dofinansowania</td>
            <td>{{object.kwota_dofinansowania}} {{object.waluta}}</td>
          </tr>
          <tr>
            <td><i class="fas fa-download"></i> Załącznik</td>
            {% if object.attachment %}
              <td>
                <a target="_blank" href="{{MEDIA_URL}}{{object.attachment}}" download>
                  Pobierz
                </a>
              </td>
            {% else %}
              <td>Brak</td>
            {% endif %}
          </tr>
          {% if object.nr_wniosku and object.nr_umowy and object.data_zawarcia_umowy %}
          <tr>
            <td><b>Numer wniosku</b></td>
            <td>{{object.nr_wniosku}}</td>
          </tr>
          <tr>
            <td><b>Numer umowy</b></td>
            <td>{{object.nr_umowy}}</td>
          </tr>
          <tr>
            <td><b>Data zawarcia umowy</b></td>
            <td>{{object.data_zawarcia_umowy}}</td>
          </tr>
        {% endif %}

        </tbody>
      </table>
      <hr>
      <h3 class="subtitle"><b><i class="fas fa-list"></i>&nbsp;Inne projekty w ramach tego konkursu</b></h3>
      <ul>
        {% for projekt in other_projects %}
        {% if projekt.id != object.id %}
        <li>
          <i class="fas fa-long-arrow-alt-right"></i>&nbsp;
            <a href="/konkursy/projekt/{{projekt.id}}">{{projekt.name}}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>



    </div>
  </div>
{% endblock %}
