{% extends '_Main/template.html' %}
{% block title %}Strona główna{% endblock %}
{% block content %}
<div class="columns">
  <div class="column is-two-fifths">
    <nav class="panel">
  <p class="panel-heading">
    Konkursy
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="Szukaj">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <p class="panel-tabs">
    <a class="is-active">konkursy</a>
    <a>projekty</a>
  </p>
  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    bulma
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    marksheet
  </a>
  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      Resetuj filtry
    </button>
  </div>
</nav>
  </div>

  <div class="column">
    132
  </div>
</div>
{% endblock %}
