{% extends '_Main/template.html' %}
{% block title %}Strona główna{% endblock %}
{% block content %}
<div class="columns">
  <div class="column is-two-fifths">
    <nav class="panel">
  <p class="panel-heading">
    Konkursy
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="Szukaj">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <p class="panel-tabs">
    <a class="is-active">konkursy</a>
    <a>projekty</a>
  </p>
  <label class="panel-block">
  <input type="checkbox">
  Aktywne
  </label>
  <label class="panel-block">
  <input type="checkbox">
  Zakończone
  </label>
  <label class="panel-block">
    <div class="field">
    <div class="control has-icons-left">
      <div class="select is-small">
        <select>
          <option selected>-- Dzielnica --</option>
          {% for dzielnica in data.dzielnice %}
          <option>{{ dzielnica }}</option>
          {% endfor %}
        </select>
      </div>
      <span class="icon is-left">
  <i class="fas fa-map-marker-alt"></i>
</span>
    </div>
  </div>
  </label>
  {% for dzielnica in data.dzielnice %}
  <div class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    {{ dzielnica }}
    <div class="is-block" style="width:100%;">
      <button class="delete is-small is-pulled-right"></button>
    </div>
  </div>
  {% endfor %}
</nav>
  </div>

  <div class="column">
    132
  </div>
</div>
{% endblock %}
